body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.output {
    margin-top: 20px;
}

canvas {
    max-width: 80%; /* Maksymalna szerokość canvas */
    max-height: 80vh; /* Maksymalna wysokość canvas */
    border: 1px solid #ddd; /* Obramowanie canvas */
    display: block; /* Centruj canvas */
    margin: 20px auto; /* Odstępy wokół i wyrównanie */
}

#cameraSection {
    margin-top: 20px;
    text-align: center;
}

#video {
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#captureButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#captureButton:hover {
    background-color: #0056b3;
}
